<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div>
                <a href="/">Головна сторінка</a>
            </div>
            <nav>
                <ul class="list">
                    <li>
                        <a href="/ukraine">Україна</a>
                    </li>
                    <li>
                        <a href="/france">Франція</a>
                    </li>
                    <li>
                        <a href="/khmilnyk">Хмільник</a>
                    </li>
                    <li>
                        <a href="/zhmerynka">Жмеринка</a>
                    </li>
                    <li>
                        <a href="/tulchyn">Тульчин</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div>Side menu</div>
        <div class="wrapper">
            {{>time}}
        </div>
        <div>Side menu</div>
    </main>
    <footer class="footer">Footer</footer>
</body>
</html>