<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form">
        <div>
            <label for="message">Відгук:</label>
            <input type="text" id="message" placeholder="Відгук">
        </div>
        <div>
            <button>Відправити</button>
        </div>
    </form>
    Reviews:
    <div class="wrapper"></div>
    <script src="/scripts/reviews.js"></script>
</body>
</html>