<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Україна</title>
</head>
<body>
    <h1>Це сторінка про Україну</h1>
    <a href=".">Головна сторінка</a>
    {{>time}}
</body>
</html>