<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хмільник</title>
</head>
<body>
    <h1>Це сторінка про Хмільник</h1>
    <img width="500px" src="https://upload.wikimedia.org/wikipedia/commons/1/14/%D0%A5%D0%BC%D1%96%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA_-_%D0%A1%D0%B0%D0%B4%D0%B8%D0%B1%D0%B0_%D0%B3%D1%80%D0%B0%D1%84%D0%B0_%D0%9A%D1%81%D1%96%D0%B4%D0%BE_DSC_8065.JPG" alt="">
    <iframe width="500px" height="300px" src="https://www.youtube.com/embed/_FKNE4l_3ho" title="Хмільник - курортне місто України. UKRAINE by DRONE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <table border="1">
        <tr>
            <th>Номер</th>
            <th>Назва ліцея</th>
        </tr>
        <tr>
            <td>№1</td>
            <td>Ліцей №1 м. Хмільника</td>
        </tr>
        <tr>
            <td>№2</td>
            <td>Ліцей №2 м. Хмільника</td>
        </tr>
        <tr>
            <td>№3</td>
            <td>Ліцей №3 м. Хмільника</td>
        </tr>
        <tr>
            <td>№4</td>
            <td>Ліцей №4 м. Хмільника</td>
        </tr>
    </table>
    <h3>Переваги Хмільника</h3>
    <ul>
        <li>Лікувальні радонові джерела</li>
        <li>Екологічно чиста зона</li>
        <li>Розвинена інфраструктура для лікування та відпочинку</li>
        <li>Доступний відпочинок</li>
        <li>Історична та культурна спадщина</li>
        <li>Добре транспортне сполучення</li>
        <li>Затишна атмосфера</li>
    </ul>
    <nav>
        <a href="/">Головна сторінка</a>
    </nav>
    {{>time}}
</body>